/* header style */
header{
    background-color: rgba(25, 26, 25, 1); 

}
.header-container{
    /* max-width: 1728px; */
    width: 100%;
    height: auto;
    padding: 55px;
}
.flex-wrapper{
    display: flex;
    margin: 0 auto;
    justify-content: space-between ;
    align-items: center;
}
.burger-bar{
    display: none;
}
.ul-items{
   width: 505px;
   display: flex;
   justify-content: space-between;
}
.a-items{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 24px;
    position: relative;
    display: inline block
}
  .a-items:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    display: flex;
    background-color: rgba(255, 116, 32, 1);
    transition: transform 1s ease-out;
  }
  .a-items:hover { 
    color: rgba(255, 116, 32, 1);
}
  .a-items:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color:rgba(255, 116, 32, 1);
  }
 
.lang-and-cont{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.select-element{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
}
.select-element:focus{
    outline: none;
}
.btn-element{
    padding: 15px 30px;
    background-color: rgba(255, 116, 32, 1);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 24px;
    border-radius: 15px;
}
.fa-bars{
    color: #ff7420;
}
/* first */
.first-section-container{
    background-image: url("../images/image.png");
    width: 100%;
    height: 778px;
    background-size: cover;
    padding:  154px 112px;
    background-position: center;
}
.first-sc-wrapper{
    display: flex;
    height: auto;
    gap: 75px;
    width: 587px;
    flex-wrap: wrap;
}
.txt-box{
    display: flex;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
}
.txt-box h2{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
     width: 100%;
}
.txt-box span{
    color: rgba(255, 116, 32, 1);
}
.txt-box p{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
}
.fa-circle-right{
    color: #fff;
}
.buttons{
    display: flex;
    gap: 24px;
    /* row-gap: 24px;
    column-gap: 24px; */
}
.btn-element-services{
    padding: 15px 30px;
    background-color: rgba(255, 116, 32, 1);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 24px;
    border-radius: 15px;
    border: none;
}
.btn-element-project{
    padding: 15px 30px;
    background-color:rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    color: rgba(25, 26, 25, 1);
    font-size: 24px;
    border-radius: 15px;
    border: none;
}  
/* Second section */ 
/* unfinished :( */
.scnd-section-container{ 
    background-color:rgba(255, 116, 32, 1);
    width: 100%;
    height: auto;
    padding: 57px 111px;
}
.top-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-box h2{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
}
.ul-items-scnd{
    display: flex;
    flex-wrap: wrap;
}
.a-items-scnd{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    display: inline block;
    margin-right: 24px;

}
  .a-items-scnd:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    display: flex;
    background-color: #000000;
    transition: transform 1s ease-out;
}
  .a-items-scnd:hover { 
    color: #000000;
}
  .a-items-scnd:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #000000;
}
/* bottom box */
.bottom-box{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 32px;
    flex-wrap: wrap;
}
.images-container{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 32px;
}
.individual-image{
    position: relative;
}
.txt-on-pic{
    position:absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}
.txt-on-pic h3{
    width: 285px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
}
.txt-on-pic p{
    width: 285px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}
.last-p{
    display: flex;
    justify-content: flex-end;
    color: rgba(25, 26, 25, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    column-gap: 13px;
}
/* third section */
.third-section {
    background-color: rgba(25, 26, 25, 1);
}
.third-sc-container{
    max-width: 1728px;
    padding: 52px;
    width: 95%;
    height: auto;
}
.flex-wrapper-3{
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center ;
}
.text-box-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
}
.third-sc-container h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(255, 116, 32, 1);
    font-size: 20px;
    line-height: 42px;
} 
.txt-box-3 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
.header-3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 64px;
    line-height: 96px;
}
/* fourth section */
.fourth-section{
    background-color: rgba(25, 26, 25, 1);
    height: auto;
}
.wrapper-4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 41px;
    max-width: 1728px;
}
.right-block{
    width: 963px;
    background-color: rgba(255, 116, 32, 1);
    border-radius: 15px;
    padding: 42px 53px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.right-block-txt, .form-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
 .right-block-txt h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}
.right-block-txt p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
} 
.form-container{
    width: 100%;
    gap: 45px; 
    display: flex;
    flex-wrap: wrap;
} 
.form-container input, .Service{
    width: 419px;
    height: 76px;
    border-radius: 15px;
    padding: 23px 65.25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(25, 26, 25, 0.5);
    margin-bottom: 18px;
}
.form-container input:focus, .Service:focus, .text-area:focus{
    outline: none;
} 
.text-area{
    resize: none;
    height: 148px;
    width: 845px;
    border-radius: 15px;
    padding: 23px 65.25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(25, 26, 25, 0.5);
} 
.btn-element-4{
    padding: 23px 340px;
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 15px;
}
/* left block */
.left-block{
    background-color: rgba(255, 116, 32, 1);
    width: 499px;
    border-radius: 15px;
    padding: 44px 64px;
    gap: 24px;
}
.contact-info, .text-wrapper-4{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.contact-info h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}
.text-wrapper-4 h3, .contact-info h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
.text-wrapper-4 p, ul, .a-items-4{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.btn-element-cont{
    padding: 23px 136px;
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 15px;
}
/* footer style */
footer{
     background-color: rgba(25, 26, 25, 1); 
}
.footer-wraper {
    max-width: 1728px;
    width: 86%;
    height: auto;
    padding: 55px 0;
}
.footer-flex {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.first-line-ft{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer-subscribe h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
}
 .footer-subscribe{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.form-email{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
} 
.form-email input{
     border: none;
     background-color: transparent; 
     width: 90%; 
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     color: rgba(255, 255, 255, 1)
}
.form-email input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.form-email input:focus{
    outline:none
}
.form-email button {
    background-color: transparent;
    border: none;
    color: #fff;
}
.columns{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    margin: 29px 0;
}
.individual-column:nth-child(1) {
    width: 516px;
}
.individual-column:nth-child(2) {
    width: 306px;
}
.individual-column:nth-child(3) {
    width: 255px;
}
.individual-column:nth-child(4) {
    width: 75px;
}
.individual-column h2{
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
}
.individual-column > p, .footer-a-items {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.socials {
    display: flex;
    width: 206px;
    justify-content: space-between;
    align-items: center;
}